<launch>
    <node pkg="rgb_driver" type="rgb_driver" name="rgb_driver" output="screen">
        <!-- Open /dev/video%{video_port} to avoid built-in camera. -->
        <param name="video_port" type="int" value= "1"/>
        <param name="show_image" type="bool" value= "true"/>
    </node>
</launch>

